

































































































/* 






*/



*, *::after,*::before{

    padding: 0; 
    margin: 0; 
    box-sizing: border-box; 
    
    
}


:root{

    
    
}

html{

    scroll-behavior: smooth;
    
}


body{


    
    
}

/* Add in the main container here  */





/* Add in the media queries here  */




/* Add in the animations here  */











































































